<!-- <div style="background-color: mediumturquoise">
    <table cellpadding="20px">
      <tr>
        <td><a routerLink="#">Home</a></td>
        <td><a routerLink="register">Register</a></td>
        <td><a routerLink="adminPage">Manage Exam</a></td>
        <td><a routerLink="userPage">Manage User</a></td>
        <td><a routerLink="user"> User Page</a></td>

      </tr>
    </table>
  </div> -->
  <!-- <app-admin-landing-page></app-admin-landing-page> -->
<app-userlanding-page></app-userlanding-page>
  <router-outlet></router-outlet>