<h1 mat-dialog-title>Add Question</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Add Question</mat-label>
    <input matInput [(ngModel)]="data.question">
</mat-form-field>

  <mat-grid-list cols="2" rowHeight="4:1.5">
    <mat-grid-tile>
        <mat-form-field class="example-form-field">
            <input matInput type="text"  [(ngModel)]=data.option1 >
            <button mat-button *ngIf=data.option1 matSuffix mat-icon-button aria-label="Clear" (click)="data.option1=''"> 
            <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-form-field">
            <input matInput type="text"  [(ngModel)]=data.option2 >
            <button mat-button *ngIf=data.option2 matSuffix mat-icon-button aria-label="Clear" (click)="data.option2=''">
            <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-form-field">
            <input matInput type="text"  [(ngModel)]=data.option3 >
            <button mat-button *ngIf=data.option3 matSuffix mat-icon-button aria-label="Clear" (click)="data.option3=''">
            <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-form-field">
            <input matInput type="text"  [(ngModel)]=data.option4 >
            <button mat-button *ngIf=data.option4 matSuffix mat-icon-button aria-label="Clear" (click)="data.option4=''">
            <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-form-field">
          <input matInput type="text"  [(ngModel)]=data.correctanswer >
          <button mat-button *ngIf=data.correctanswer matSuffix mat-icon-button aria-label="Clear" (click)="data.correctanswer=''">
          <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

</div>
<div mat-dialog-actions>
  <button mat-button  (click)="onNoClick()">Cancel</button>
  <button mat-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
