
    <mat-accordion #users>

            <mat-card>
                <mat-card-title>
                    <span>List of Registered Users</span>
                </mat-card-title>
            </mat-card>
            <mat-divider></mat-divider>

            <mat-expansion-panel *ngFor="let user of userslist" >
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <span>{{user}}</span>
                    </mat-panel-title>
                <mat-panel-description>
                    Click to Expand
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
                <mat-label>Add Exam</mat-label>
                <mat-select>
                    <mat-list *ngFor="let exam of examslist">
                        <mat-option (click)="addExamToUser(user, exam)">{{exam.examname}}</mat-option>
                    </mat-list>
                </mat-select>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="getExamsForUser(user)">Show Exams Assigned to User</button>
            <mat-list role="list" >
                <mat-list-item *ngFor="let userexam of allotedexamstouser">
                    <mat-list-item>{{userexam.examname}}</mat-list-item>
                    <span class="example-spacer"></span>
                    <button mat-button  matSuffix mat-icon-button aria-label="Delete" (click)="deleteExamForUser(user, userexam)">
                    <mat-icon >delete</mat-icon>  
                    </button>
                </mat-list-item>
            </mat-list>

        </mat-expansion-panel>
    </mat-accordion>
    

    

     